<h1>Xin Chao, Day la Vu Dung</h1>

<div class="container">

    <ul>
        <li>MSV: 1911505310109</li>
        <li>Hoten: Nguyen Vu Dung</li>
        <li>Lop: 19T1</li>
        <li>Address: Da Nang</li>
        
    </ul>

</div>