<h1>Chỉnh sửa thông tin cây thuốc</h1>

<%= render "form", ql_tv: @ql_tv %>

<br>

<div>
  <%# <%= link_to "Show this ql tv", @ql_tv %> 
  <%= link_to "Quay lại quản lý cây thuốc", ql_tvs_path %>
</div>
